<div class="container-fluid" >
  <div class="row justify-content-center" >

    <div class="col-sm-4 text-center" >
      <div class="graph-icon" >
       .8 GB <br> <i class="fab fa-cloudversify"></i>
      </div>
      <div class="display-size" > Space Used </div>
    </div>

    <div class="col-sm-4 text-center" >
      <div class="graph-icon" >
        101 <br> <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="display-size" > Device Connected </div>
    </div>

    <div class="col-sm-4 text-center" >
      <div class="graph-icon" >
      230   <br> <i class="far fa-comment-alt"></i>
      </div>
      <div class="display-size" > Msg Send </div>
    </div>

  </div>
</div>
