<div class="container-fluid" style="height:165px" >
  <div class="row justify-content-center" style="perspective: 500px;">

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >

        <div class="col-5 graph-display01 "> {{stats.projects}} &nbsp; </div>
        <div class="col-7 graph-display2 " >Projects</div>

      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >{{stats.onlineForms}} &nbsp; </div>
        <div class="col-7 graph-display2 " >Online Forms</div>
      </div>
    </div>

    <!-- <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >{{stats.offlineForms}} &nbsp; </div>
        <div class="col-7 graph-display2 " >Offline Forms</div>
      </div>
    </div> -->

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >{{stats.associatedAssesors}} &nbsp; </div>
        <div class="col-7 graph-display2 " >Assesors</div>
      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >{{stats.responses}} &nbsp; </div>
        <div class="col-7 graph-display2 " >Responses</div>
      </div>
    </div>


  </div>
</div>
