<div class="container-fluid" style="height:165px" >
  <div class="row justify-content-center" style="perspective: 500px;">

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >

        <div class="col-5 graph-display01 "> 6 &nbsp; </div>
        <div class="col-7 graph-display2 " >Projects</div>

      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >25 &nbsp; </div>
        <div class="col-7 graph-display2 " >Online Froms</div>
      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >25 &nbsp; </div>
        <div class="col-7 graph-display2 " >Offline Froms</div>
      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >413 &nbsp; </div>
        <div class="col-7 graph-display2 " >Assesors</div>
      </div>
    </div>

    <div class="col-8" >
      <div class="row justify-content-center  Gdisplay-3" >
        <div class="col-5 graph-display01 " >652 &nbsp; </div>
        <div class="col-7 graph-display2 " >Responses</div>
      </div>
    </div>


  </div>
</div>
